use_default_settings: true
server:
  # base_url is defined in the SEARXNG_BASE_URL environment variable, see .env and docker-compose.yml
  secret_key: "thisisthekeyallyourbaseareblongtothem"  # change this!
  limiter: false  # can be disabled for a private instance
  image_proxy: true
ui:
  static_use_hash: true
  default_theme: simple
redis:
  url: redis://redis-on-hstgr:6379
search:
  formats:
    - html
    - json
    - rss
